@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


/* Ensure the root element takes full height */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
